/*----------------------------------*\
  	Variables - Grid Options
\*----------------------------------*/
/* Desktop */
$gutter: 12px;
$gutter-container: 12px;

/* Mobile */
$gutter-mobile: $gutter;
$gutter-container-mobile: $gutter-container;

/* Container */
$container-max-width: 100%;
