/*----------------------------------*\
  	Variables - Media Queries
\*----------------------------------*/
/*
	Media Queries
*/
/* Screen */
$screen: "only screen" !default;

/* Nano Small Query */
$nano-and-down: "#{$screen} and (max-width : #{$nano-screen-to})" !default;
$nano-and-up: "#{$screen} and (min-width : #{$nano-screen-from})" !default;
$nano-only: "#{$screen} and (min-width: #{$nano-screen-from}) and (max-width: #{$nano-screen-to})" !default;

/* Micro Small Query */
$micro-and-down: "#{$screen} and (max-width : #{$micro-screen-to})" !default;
$micro-and-up: "#{$screen} and (min-width : #{$micro-screen-from})" !default;
$micro-only: "#{$screen} and (min-width: #{$micro-screen-from}) and (max-width: #{$micro-screen-to})" !default;

/* Extra Small Query */
$extra-small-and-down: "#{$screen} and (max-width : #{$extra-small-screen-to})" !default;
$extra-small-and-up: "#{$screen} and (min-width : #{$extra-small-screen-from})" !default;
$extra-small-only: "#{$screen} and (min-width: #{$extra-small-screen-from}) and (max-width: #{$extra-small-screen-to})" !default;

/* Small Query */
$small-and-down: "#{$screen} and (max-width : #{$small-screen-to})" !default;
$small-and-up: "#{$screen} and (min-width : #{$small-screen-from})" !default;
$small-only: "#{$screen} and (min-width: #{$small-screen-from}) and (max-width: #{$small-screen-to})" !default;

/* Medium Query */
$medium-and-down: "#{$screen} and (max-width : #{$medium-screen-to})" !default;
$medium-and-up: "#{$screen} and (min-width : #{$medium-screen-from})" !default;
$medium-only: "#{$screen} and (min-width: #{$medium-screen-from}) and (max-width: #{$medium-screen-to})" !default;

/* Large Query */
$large-and-down: "#{$screen} and (max-width : #{$large-screen-to})" !default;
$large-and-up: "#{$screen} and (min-width : #{$large-screen-from})" !default;
$large-only: "#{$screen} and (min-width: #{$large-screen-from}) and (max-width: #{$large-screen-to})" !default;

/* Extra Large Query */
$extra-large-and-up: "#{$screen} and (min-width : #{$extra-large-screen-from})" !default;

/*
	Media Query Properties
*/
/* Number of Columns */
$grid: 12 !default;

/* Breakpoints query breakpoint and up */
$breakpoints-up: (
  "nano": $nano-and-up,
  "micro": $micro-and-up,
  "xs": $extra-small-and-up,
  "sm": $small-and-up,
  "md": $medium-and-up,
  "lg": $large-and-up,
  "xl": $extra-large-and-up
);

/* Breakpoints query breakpoint and down */
$breakpoints-down: (
  "lg-down": $large-and-down,
  "md-down": $medium-and-down,
  "sm-down": $small-and-down,
  "xs-down": $extra-small-and-down,
  "micro-down": $micro-and-down,
  "nano-down": $nano-and-down
);

/* Breakpoints query breakpoint only */
$breakpoints-only: (
  "xl-only": $extra-large-and-up,
  "lg-only": $large-only,
  "md-only": $medium-only,
  "sm-only": $small-only,
  "xs-only": $extra-small-only,
  "micro-only": $micro-only,
  "nano-only": $nano-only
);
