/*----------------------------------*\
    Element Visibility
\*----------------------------------*/
/*
	Element Visible
*/
/* "display: none;" for all visible classes */
[class*=" visible-"],
[class^="visible-"] {
	display: none !important;
}

/* Override none property with appropriate one (flex, block, inline, inline-block). Use it as "visible-xs-flex" */
@each $class, $point in $breakpoints-only {
	@media #{$point} {
		@each $property in $display-properties {
			.visible-#{$class}-#{$property} {
				display: $property !important;
			}
		}
	}
}

@each $class, $point in $breakpoints-down {
	@media #{$point} {
		@each $property in $display-properties {
			.visible-#{$class}-#{$property} {
				display: $property !important;
			}
		}
	}
}

/*
	Element Hidden
*/
/* Add "display: none;" to the appropriate breakpoint. Use it as "hidden-xs" */
@each $class, $point in $breakpoints-only {
	@media #{$point}{
		.hidden-#{$class} {
			display: none !important;
		}
	}
}

@each $class, $point in $breakpoints-down {
	@media #{$point}{
		.hidden-#{$class} {
			display: none !important;
		}
	}
}