/*----------------------------------*\
    Element Display
\*----------------------------------*/
/* Element display with breakpoints */
$element-display-with-breakpoints: true;

@if $font-sizes-with-breakpoints {
  @each $class, $point in $breakpoints-only {
    @media #{$point} {
      @each $display in $display-properties {
        .d-#{$display}--#{$point} {
          display: $display;
        }
      }
    }
  }
} @else {
  @each $display in $display-properties {
    .d-#{$display} {
      display: $display;
    }
  }
}

