/*----------------------------------*\
    Spacings
\*----------------------------------*/
/*
	Margins and paddings
*/
/* Margin 0px on all sides */
.margin0 {
	margin: 0;
}

/* Padding 0px on all sides */
.padding0 {
	padding: 0;
}

/* Prefix classes for spacings */
$spacing-classes: (
	'pt': padding-top,
	'pb': padding-bottom,
	'pr': padding-right,
	'pl': padding-left,
	'mt': margin-top,
	'mb': margin-bottom,
	'mr': margin-right,
	'ml': margin-left
);

/* Spacings class loop */
@each $prefix, $meaning in $spacing-classes {
	@each $size in $spacing-sizes{
		.#{$prefix}#{$size} {
			#{$meaning}: $size * 1px;
		}
	}
}

/* Spacings class loop with postfix of breakpoints */
@each $class, $point in $breakpoints {
	@media #{$point}{
		@each $prefix, $meaning in $spacing-classes {
			@each $size in $spacing-sizes {
				.#{$prefix}#{$size}-#{$class} {
					#{$meaning}: $size * 1px;
				}
			}
		}
	}
}

/* Spacings class loop with postfix of breakpoints for breakpoint and down */
@each $class, $point in $breakpoints-down {
	@media #{$point}{
		@each $prefix, $meaning in $spacing-classes {
			@each $size in $spacing-sizes {
				.#{$prefix}#{$size}-#{$class} {
					#{$meaning}: $size * 1px;
				}
			}
		}
	}
}