/*----------------------------------*\
    Element Visibility
\*----------------------------------*/
/*
	Element Visible
*/
/* "display: none;" for all visible classes */
[class*=" visible-"],
[class^="visible-"] {
	display: none !important;
}

/* Override none property with appropriate one (flex, block, inline, inline-block). Use it as "visible-xs-flex" */
@if $element-visibility-with-breakpoints {
	@each $class, $point in $breakpoints-up {
		@media #{$point} {
			@each $property in $display-properties {
				.visible-#{$property}-#{$class} {
					display: $property !important;
				}
			}
		}
	}

	@each $class, $point in $breakpoints-down {
		@media #{$point} {
			@each $property in $display-properties {
				.visible-#{$property}-#{$class} {
					display: $property !important;
				}
			}
		}
	}
}

/*
	Element Hidden
*/
.hidden {
  display: none !important;
}

/* Add "display: none;" to the appropriate breakpoint. Use it as "hidden-xs" */

@each $class, $point in $breakpoints-up {
	@media #{$point}{
		.hidden-#{$class} {
			display: none !important;
		}
	}
}

@each $class, $point in $breakpoints-down {
	@media #{$point}{
		.hidden-#{$class} {
			display: none !important;
		}
	}
}