/*----------------------------------*\
    Font sizes
\*----------------------------------*/

/* Font sizes class loop */
@each $name, $size in $font-sizes {
  .fz-#{$name} {
    font-size: $size;
  }
}

/* Font sizes class loop - Responsive */
@if $font-sizes-with-breakpoints {

  /* Font sizes loop with postfix of breakpoints */
  @each $class, $point in $breakpoints-up {
    @media #{$point} {
      @each $name, $size in $font-sizes {
        .fz-#{$name}-#{$class} {
          font-size: $size;
        }
      }
    }
  }
  
  /* Font sizes loop with postfix of breakpoints for breakpoint and down */
  @each $class, $point in $breakpoints-down {
    @media #{$point} {
      @each $name, $size in $font-sizes {
        .fz-#{$name}-#{$class} {
          font-size: $size;
        }
      }
    }
  }
}

