/*----------------------------------*\
    Text
\*----------------------------------*/
/*
	Align
*/
$text-alignments: center, left, right;

@each $align in $text-alignments {
  .text-#{$align} {
    text-align: $align;
  }
}

@each $class, $point in $breakpoints-up {
  @media #{$point}{
    @each $align in $text-alignments {
      .text-#{$align}-#{$class} {
        text-align: $align;
      }
    }
  }
}

@each $class, $point in $breakpoints-down {
  @media #{$point}{
    @each $align in $text-alignments {
      .text-#{$align}-#{$class} {
        text-align: $align;
      }
    }
  }
}

/*
	Decoration
*/
.text-decoration-none {
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

.text-line-through {
  text-decoration: line-through;
}

/*
	Transform
*/
.text-normal {
  text-transform: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/*
	Variant
*/
.text-small-caps {
  font-variant: small-caps;
}

/*
  Style
*/
.text-italic {
  font-style: italic;
}

/*
	Font Weights
 */
/* Variables */
$font-weights: (
  'hairline': 100,
  'thin': 200,
  'light': 300,
  'normal': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
  'extrabold': 800,
  'black': 900
);

/* Classes */
@each $prefix, $meaning in $font-weights {
  .font-#{$prefix} {
    font-weight: $meaning;
  }
}
